.form {
  margin: 0 auto;
  padding: 20px 30px;
  text-align: center;
  font-size: 20px;
  border: 3px double rgb(65, 61, 61);
  width: 500px;
}

.label {
  display: block;
}

.input {
  margin: 15px auto;
  width: 400px;
  height: 35px;
}

.input:hover,
.input:focus {
  outline: thick double #32a1ce;
}

.button {
  margin: 15px auto;
  box-shadow: 1px 1px 1px 2px #858686;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #858686;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-weight: 500;
  padding: 12px 44px;
  text-transform: uppercase;
}
.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #378de5 5%, #7abaff 100%);
  background-color: #378de5;
  box-shadow: 1px 1px 1px 2px #7abaff;
  color: white;
  outline: none;
}
