.reg-log-form {
  padding: 40px;
  display: flex;
  justify-content: center;
}
.form-input {
  margin-right: 10px;
}
.form-button {
  background-color: rgba(11, 243, 243, 0.507);
  border-radius: 5px;
}
.form-label {
  display: flex;
  flex-direction: column;
}
.home-title {
  font-size: 70px;
  color: aliceblue;
  text-align: center;
  padding-top: 50px;
  margin: 0;
}
.bcg {
  background-image: url('../img/img.jpg');
  height: 93.8vh;
  background-repeat: no-repeat;
  background-size: cover;
}
